:root {
  --thm-font: "Inter", sans-serif;
  --heading-font: "Inter", sans-serif;
  --special-font: "Handlee", cursive;
  --thm-color: #6e7673;
  --thm-color-rgb: 110, 118, 115;
  --thm-base: #49a760;
  --thm-base-rgb: 73, 167, 96;
  --thm-primary: #fe8340;
  --thm-primary-rgb: 247, 195, 95;
  --thm-secondary: #ed4b4b;
  --thm-secondary-rgb: 237, 75, 75;
  --thm-special: #5366c2;
  --thm-special-rgb: 83, 102, 194;
  --thm-black: #255946;
  --thm-black-rgb: 37, 89, 70;
  --thm-black2: #1d1c1c;
  --thm-black2-rgb: 29, 28, 28;
  --thm-text-dark: #8e96a0;
  --thm-text-dark-rgb: 142, 150, 160;
}

body {
  font-family: $thm-font;
  color: $thm-color;
  font-size: $body-size;
  line-height: $body-line-height;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $thm-black;

  br {
    @media (max-width: 575px) {
      display: none;
    }
  }
}

p {
  br {
    @media (max-width: 575px) {
      display: none;
    }
  }
}

::placeholder {
  color: inherit;
  opacity: 1;
}
.background-base {
  background-color: $thm-base;
}
.background-primary {
  background-color: $thm-primary;
}

.background-secondary {
  background-color: $thm-secondary;
}

.background-special {
  background-color: $thm-special;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.thm-btn {
  @include thmBtn;
}

.gray-boxed-wrapper {
  background-color: #f6f5f2;
  border-radius: $border-radius;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: relative;
  z-index: 10;
  @include tablet {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  @include large-tablet {
    max-width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include laptop {
    max-width: 1300px;
  }
  @include large-laptop {
    max-width: 1600px;
  }

  &.home-one__boxed {
    margin-top: -60px;
    @include large-tablet {
      margin-top: -205px;
    }
  }
}

.block-text {
  font-size: 15px;
  line-height: 2.125;
  color: $thm-color;
  margin-bottom: 0;
  font-weight: 500;
  @include large-tablet {
    font-size: 16px;
  }
}

.block-title {
  margin-bottom: 30px;
  @include laptop {
    margin-bottom: 60px;
  }
  &__image {
    background-image: url(../images/loader.png);
    background-size: 100%;
    width: 24px;
    height: 25px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &.text-center &__image {
    margin-left: auto;
    margin-right: auto;
  }
  p {
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    color: #6e7673;
    letter-spacing: 0.2em;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 10px;
    @include large-laptop {
      font-size: 14px;
    }
  }
  h3 {
    margin: 0;
    font-size: 38px;
    font-weight: bold;
    color: #255946;
    @include large-laptop {
      font-size: 46px;
    }
  }
}

.ul-list-one {
  margin-bottom: 0;

  li {
    position: relative;
    padding-left: 45px;
    font-size: $body-size;
    font-weight: 500;
    color: $thm-black;

    @media (min-width: 481px) {
      font-size: $heading-size;
    }

    &::before {
      content: "\e907";
      color: $thm-secondary;
      font-size: 26px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-family: "azino-icon";
    }
  }
}

.preloader {
  position: fixed;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9991;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;

  &__image {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}

/* scroll to top */
.scroll-to-top {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: $thm-primary;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: none;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.scroll-to-top i {
  color: #ffffff;
  font-size: 18px;
  line-height: 45px;
}

.scroll-to-top:hover {
  background-color: $thm-black;
}

.scroll-to-top:hover i {
  color: #fff;
}

/* post paginations */

.post-pagination {
  margin-bottom: 0;
  margin-top: 0px;
  @media (min-width: 992px) {
    margin-top: 0px;
  }
  a {
    display: flex;
    width: 45px;
    height: 45px;
    background-color: #eff2f6;
    align-items: center;
    justify-content: center;
    color: $thm-color;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50%;
    transition: 500ms ease;
    @media (min-width: 992px) {
      width: 60px;
      height: 60px;
      font-size: 18px;
    }
    &:hover {
      background-color: $thm-primary;
      color: #fff;
    }
  }
  li:first-child a {
    background-color: $thm-base;
    color: #fff;
  }
  li:last-child a {
    background-color: $thm-black;
    color: #fff;
  }
  li + li {
    margin-left: 10px;
  }
}
